<div class="filter-btn-container">
    <br/>
    <button class="btn btn-primary filter-btn" type="click" id='{{id}}'>{{allergen_name}}</button>
    <button class="btn btn-primary filter-del-btn" type="click" id='{{id}}'>X</button>
    <br/>
</div>
