<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALLERGY FINDER</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>GROCERY ALLERGEN FILTER</h1>
    </header>
    <nav>
      <a href="/">
        <img alt="home" src="./images/home.png" />
      </a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">LOGOUT</button>
      {{else}}
        <button id="login" class="btn-no-style">LOGIN</button>
      {{/if}}
      <p id="errorMessage-logout"></p>
      {{#if loggedIn}}
      <a class="nav-icon-active">
        <img class="icon-button" id="Egg" alt="EGG FREE" src="./images/eggfree.png" />
      </a>
      <a class="nav-icon-active">
        <img class="icon-button" id="Dairy" alt="MILK FREE" src="./images/milkfree.png" />
      </a>
      <a class="nav-icon-active">
        <img class="icon-button" id="Seafood" alt="FISH FREE" src="./images/nofish.png" />
      </a>
      <a class="nav-icon-active">
        <img class="icon-button" id="Shellfish" alt="SHELLFISH FREE" src="./images/noshellfish.png" />
      </a>
      <a class="nav-icon-active">
        <img class="icon-button" id="Soy" alt="SOY FREE" src="./images/nosoy.png" />
      </a>
      <a class="nav-icon-active">
        <img class="icon-button" id="Tree%20Nut" alt="TREE-NUT FREE " src="./images/notreenut.png" />
      </a>
      <a class="nav-icon-active">
        <img class="icon-button" id="Peanut" alt="PEANUT FREE" src="./images/peanutfree.png" />
      </a>
      <a class="nav-icon-active">
        <img class="icon-button" id="Wheat" alt="WHEAT FREE" src="./images/nowheat.png" />
      </a>
      {{else}}
      <a class="nav-icon-inactive">
        <img alt="EGG FREE" src="./images/eggfree.png" />
      </a>
      <a class="nav-icon-inactive">
        <img alt="MILK FREE" src="./images/milkfree.png" />
      </a>
      <a class="nav-icon-inactive">
        <img alt="FISH FREE" src="./images/nofish.png" />
      </a>
      <a class="nav-icon-inactive">
        <img alt="SHELLFISH FREE" src="./images/noshellfish.png" />
      </a>
      <a class="nav-icon-inactive">
        <img alt="SOY FREE" src="./images/nosoy.png" />
      </a>
      <a class="nav-icon-inactive">
        <img alt="TREE-NUT FREE " src="./images/notreenut.png" />
      </a>
      <a class="nav-icon-inactive">
        <img alt="PEANUT FREE" src="./images/peanutfree.png" />
      </a>
      <a class="nav-icon-inactive">
        <img alt="WHEAT FREE" src="./images/nowheat.png" />
      </a>
      {{/if}}
    </nav>
    <main>
        {{{body}}}
    </main>

      <script src="/js/loginBtn.js"></script>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
      <script src="/js/productSearch.js"></script>
    {{/if}}
  </body>

</html>