<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALLERGY FINDER</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>GROCERY ALLERGEN FILTER</h1>
    </header>
    <nav>
      <a href="/">
        <img alt="home" src="./images/home.png" />
      </a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">LOGOUT</button>
      {{else}}
        <a href="/login">LOGIN</a>
      {{/if}}
      <p id="errorMessage-logout"></p>
      <a href="https://twitter.com/cutedogs101">
        <img alt="EGG FREE" src="./images/eggfree.png" />
      </a>
      <a href="https://twitter.com/cutedogs101">
        <img alt="MILK FREE" src="./images/milkfree.png" />
      </a>
      <a href="https://twitter.com/cutedogs101">
        <img alt="FISH FREE" src="./images/nofish.png" />
      </a>
      <a href="https://twitter.com/cutedogs101">
        <img alt="SHELLFISH FREE" src="./images/noshellfish.png" />
      </a>
      <a href="https://twitter.com/cutedogs101">
        <img alt="SOY FREE" src="./images/nosoy.png" />
      </a>
      <a href="https://twitter.com/cutedogs101">
        <img alt="TREE-NUT FREE " src="./images/notreenut.png" />
      </a>
      <a href="https://twitter.com/cutedogs101">
        <img alt="PEANUT FREE" src="./images/peanutfree.png" />
      </a>
      <a href="https://twitter.com/cutedogs101">
        <img alt="WHEAT FREE" src="./images/nowheat.png" />
      </a>

    </nav>
    <main>
      <aside>
        <h2>FILTER BY: PRODUCT <br />& <br />ALLERGEN</h2>
        {{#if loggedIn}}

          <form class="form search-form">
            <div class="form-group">
              <label for="product-search">Search Products
                <br />
                🛒 🥣 🍋 🥩 🛒</label>
              <input class="form-input" type="text" id="product-search" />
            </div>
            <br />
            <div class="form-group">
              <label for="filter-search">Allergens (separate with commas)
                <br />
                🐟 🥛 🍞 🍤 🥚 🥜</label>
              <input class="form-input" type="text" id="filter-search" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
            <div class="form-group">
              <p id="errorMessage-search"></p>
            </div>
          </form>
        {{else}}
          <p></p>
        {{/if}}
      </aside>
      <div class="suggestions">
        {{{body}}}
      </div>
    </main>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
      <script src="/js/productSearch.js"></script>
    {{/if}}
  </body>

</html>