<section class="welcome">
    <div>
    {{!-- <header> --}}
<h1>
    WELCOME TO ALLERGY FINDER <br> FILTER YOUR GROCERIES BY YOUR ALLERGEN
</h1>
    {{!-- </header> --}}
   </div>
</section>

    {{#each products as |product|}}
    {{> product-details}}
    {{/each}}

