<section class="container">
  <h3 class="suggestions-name">{{suggestion.name}}</h3>
  <section class="flex-row justify-center">
    {{#each suggestion.product as |product|}}
    {{> product-details}}
    {{/each}}
  </section>
</section>
