:root {
  --primary: #18186d;
  --secondary: #f3f5f7;
  --tertiary: #18186d;
  --quatrinary: white;
  --light: rgb(249, 249, 255);
  --dark: #18186d;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;

  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-align: center;
  font-weight: bold;
}

a:visited {
  color: inherit;
}

header {
  /* background-image: url("../images/foodpic.jpeg"); */
  background-size: cover;

  padding: 40px;
  text-align: center;
  text-shadow: 2px 2px rgb(15, 0, 0);
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  /* opacity: 0.12; */
  background-color: var(--tertiary);
  padding: 80px;
  text-align: center;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
  justify-content: space-between;
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.suggestions {
  flex: 4;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; /*
}
.suggestions::before {*/
  background-image: url("../images/food.PNG");
  background-size: cover;
  /*opacity: 0.12;
  position: absolute;*/
  top: 36%;
  right: 0px;
  bottom: 0px;
  left: 22%;
  content: "";
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline overline;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.product {
  width: 50%;
  background-color: white;
  margin-bottom: 25px;
}

.product-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  overflow-x: scroll;
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 50px;
  border: 3px solid var(--tertiary);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--dark);
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.suggestions-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.row {
  z-index: 100;
}

.welcome {
  color: var(--primary);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  /* height: 30%;
  position: absolute; */
  top: 36%;
}
